<!-- <div class="heading">NOAKO</div>
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="container-general">
        <div class="gallery-wrap wrap-effect-1">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
      </div>
    </div>




  </div>
</div>

<script>
  const swiper = new Swiper('.swiper-container', {
    direction: 'vertical',
    mousewheel: {},
    effect: 'cube',
    keyboard: {
      enabled: true,
      onlyInViewport: false
    }
  });
</script> -->
<div class="logo">

    <a><div class="rest">NOAKO</div></a>

  </div>

  <div class="description">
    <div class="content1">Customized capturing angles</div>
    <div class="content2">Provides VR mode</div>
    <div class="content3">Customized capturing angles</div>
    <div class="content4">Provides VR mode</div>
  </div>

<div class="backAnimation">

  <iframe class="coloumn" style="border: none" src="assets/web/index2.html"></iframe>

</div>

<router-outlet></router-outlet>
